/*Start Body*/
 *{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
/*End Body*/


/*Start Panner*/
.back-ground{
  width: 100%;
  height: 100vh;
  background-image:  linear-gradient(rgb(16 11 11),rgb(255 0 0 / 10%)) ,url(ph.jpg) ;
  background-size: cover;
  background-position: center;
}
/*End Panner*/


/*Start Page name & Icon*/
h1{
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 3px;
  display:  inline-block;
  padding-left: 20px;
}
i{
  font-size: 40px;
  color: #fff;
}
/*End Page name & Icon*/


/*Start Navbar*/
.nav{
  width: 85%;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav ul li{
  list-style: none;
  display:  inline-block;
  margin: 0 20px;
  position: relative;
}
.nav ul li a{
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.nav ul li a:hover{
  font-size: 17px;
  letter-spacing: 5px;
}
.nav ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.nav ul li:hover::after{
  width: 100%;
}
/*End Navbar*/
 

/*Star Footer*/
.footer{
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  position: absolute;
  bottom: 3%;
  color: #fff;
  letter-spacing: 8px;
  transition: 0.5s;
  text-shadow:15px 15px 15px #252323;
}
.footer:hover{
  color: rgb(0, 0, 0);
  letter-spacing:9px ;
}
/*End Footer*/
 